.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.radius-sm {
    border-radius: 5px
}

.parallax-section {
    /* The image used */
    background-image: url('../images/Become-a-Member-Today.png');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-seetru {
    background: rgba(91, 139, 44, 0.62)
}


.step-circle {
    height: 100px;
    padding: 26px;
    width: 100px;
    line-height: 100px;
    border: 1px solid #fff;
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    border-radius: 50%;
}

.clickable {
    cursor: pointer
}
.bg-lemon{
    background: #06bf06;
}